
  .wrapper_header {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 220px 1fr 130px;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas: "a b c";
    background-color: #6670ff;
    color: rgb(255, 255, 255);
}
.box_header {
  background-color: #6670ff;
  color: #fff;
  border-radius: 5px;
  padding: 30px;
  font-size: 75%;

}
.header_logo {

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px;
  padding-right: 0px;


}
.header_text {

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 0px;
  padding-bottom: 50px;
  min-width: max-content;
}
.header_extra_menu {

  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-bottom: 50px;

}
  .header_contact {
    background-image: url("../pic/contact.png");
  color: white;
  padding: 15px;
  top: 100px;
  text-align: center;
}
.header_actor {
    background-image: url("../pic/actor_background.png");
  color: white;
  padding: 15px;
  top: 100px;
  text-align: center;
}




.body_contact {margin:0;
    font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
.body_actor {margin:0;
    font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;}
.body_index {margin:0;
    font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;}




input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(57, 22, 255);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #6670ff;
}





.text_contact
{
    position: absolute;
    top: 60px;
     right: 150px;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .content_actor {
    padding: 16px;
    background-color: #8e95ff;
   /* color: white; */
  }
  .content_index {
    padding: 16px;
    background-image: url("../pic/blue.jpg");
    color:white;
  }

  .content_employment_history {
    padding: 16px;
    background-image: url("../pic/employment.png");
    color:white;
  }
  .content_education {
    padding: 16px;
    background-image: url("../pic/education.png");
    color:white;
  }
  .content_software {
    padding: 16px;
    background-image: url("../pic/software.png");
    color:white;
  }
  .content_hardware {
    padding: 16px;
    background-image: url("../pic/hardware.jpg");
    color:white;
  }
  .content_key_attributes {
    padding: 16px;
    background-image: url("../pic/skills.jpg");
    color:white;
  }
  .content_footer {
    background-color: #6670ff;
    color: #fff;
  }

  
  .text_name
  {
      position: relative;
      top: 5px;
      font-style: italic;
  }
  .text_actor_details
  {
      position: absolute;
      top:55%;
       right: 55%;
       display: block;
       color:white;
  }
  .text_actor_number
  {
      position: absolute;
      top:61%;
       right:48.2%;
       display: block;
       color:white;
  }
  .text_actor_email
  {
      position: absolute;
      top:66%;
       right:34.8%;
       display: block;
       color:white;
  }
  .text_actor_dob
  {
      position: absolute;
      top:71%;
       right:43.65%;
       display: block;
       color:white;
  }
  .text_color
  {
       color:white;
  
  }
  .text_table{
    max-width:70%;
     margin: auto;
     margin-bottom:0%;
   }
   .text_header{
     margin-top:100px;
     margin-left:150px;

   }
   .text_bold{
    font-weight:bold;

   }




  .wrapper_actor {
    display: grid;
 
    grid-gap: 1px;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas: "a b c d e";
    background-color: #8e95ff;
    color: rgb(255, 255, 255);
}
.box_actor_1 {
  background-color: #8e95ff;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 75%;
}
.box_actor_2 {
  background-color: #7d84e6;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 75%;
}
.box_actor_header_1{
  background-color: #8e95ff;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 75%;
  text-align:center;
  font-weight:bold;
}
.box_actor_header_2 {
  background-color: #7d84e6;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 75%;
  text-align:center;
  font-weight:bold;
}
.box_actor_head {
  background-color: #7d84e6;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
  border: 1px solid #dfdfdf;
  text-align:center;
  font-weight:bold;
}
.photo_actor {

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  text-align:center;


}
.photo_actor_1 {

grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 4;
grid-row-end: 6;


}
.attributes_actor {

grid-column-start: 2;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2;

}
.attributes_actor_text_1 {

grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 3;

}
.attributes_actor_text_1_1 {

grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 3;
grid-row-end: 4;

}
.attributes_actor_text_1_2 {

grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 4;
grid-row-end: 5;

}
.attributes_actor_text_1_3 {

grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 5;
grid-row-end: 6;

}
.attributes_actor_text_2 {

grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 3;

}
.attributes_actor_text_2_1 {

grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 3;
grid-row-end: 4;

}
.attributes_actor_text_2_2 {

grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 4;
grid-row-end: 5;

}
.attributes_actor_text_2_3 {

grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 5;
grid-row-end: 6;

}
.sizes_actor {

  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  
}
.sizes_actor_text_1 {

grid-column-start: 4;
grid-column-end: 5;
grid-row-start: 2;
grid-row-end: 3;

}
.sizes_actor_text_1_1 {

grid-column-start: 4;
grid-column-end: 5;
grid-row-start: 3;
grid-row-end: 4;

}
.sizes_actor_text_1_2 {

grid-column-start: 4;
grid-column-end: 5;
grid-row-start: 4;
grid-row-end: 5;

}
.sizes_actor_text_1_3 {

grid-column-start: 4;
grid-column-end: 5;
grid-row-start: 5;
grid-row-end: 6;

}

.sizes_actor_text_2 {

grid-column-start: 5;
grid-column-end: 6;
grid-row-start: 2;
grid-row-end: 3;

}
.sizes_actor_text_2_1 {

grid-column-start: 5;
grid-column-end: 6;
grid-row-start: 3;
grid-row-end: 4;

}.sizes_actor_text_2_2 {

grid-column-start: 5;
grid-column-end: 6;
grid-row-start: 4;
grid-row-end: 5;

}.sizes_actor_text_2_3 {

grid-column-start: 5;
grid-column-end: 6;
grid-row-start: 5;
grid-row-end: 6;

}
.skills_actor {
grid-column-start: 1;
grid-column-end: 6;
grid-row-start: 6;
grid-row-end: 7;
      

}
.skills_actor_text_1 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 7;
grid-row-end: 8;
      

}
.skills_actor_text_1_1 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 8;
grid-row-end: 9;
      

}
.skills_actor_text_1_2 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 9;
grid-row-end: 10;
      

}
.skills_actor_text_1_3 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 10;
grid-row-end: 11;
      

}
.skills_actor_text_1_4 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 11;
grid-row-end: 12;
      

}
.skills_actor_text_1_5 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 12;
grid-row-end: 13;
      

}
.skills_actor_text_1_6 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 13;
grid-row-end: 14;
      

}
.skills_actor_text_1_7 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 14;
grid-row-end: 15;
      

}
.skills_actor_text_1_8 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 15;
grid-row-end: 16;
      

}
.skills_actor_text_1_9 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 16;
grid-row-end: 17;
      

}
.skills_actor_text_1_10 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 17;
grid-row-end: 18;
      

}
.skills_actor_text_1_11 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 18;
grid-row-end: 19;
      

}
.skills_actor_text_1_12 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 19;
grid-row-end: 20;
      

}
.skills_actor_text_1_13 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 20;
grid-row-end: 21;
      

}
.skills_actor_text_1_14 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 21;
grid-row-end: 22;
      

}
.skills_actor_text_1_15 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 22;
grid-row-end: 23;
      

}
.skills_actor_text_2 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 7;
grid-row-end: 8;
      

}
.skills_actor_text_2_1 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 8;
grid-row-end: 9;
      

}
.skills_actor_text_2_2 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 9;
grid-row-end: 10;
      

}
.skills_actor_text_2_3 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 10;
grid-row-end: 11;
      

}
.skills_actor_text_2_4 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 11;
grid-row-end: 12;
      

}
.skills_actor_text_2_5 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 12;
grid-row-end: 13;
      

}
.skills_actor_text_2_6 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 13;
grid-row-end: 14;
      

}
.skills_actor_text_2_7 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 14;
grid-row-end: 15;
      

}
.skills_actor_text_2_8 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 15;
grid-row-end: 16;
      

}
.skills_actor_text_2_9 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 16;
grid-row-end: 17;
      

}
.skills_actor_text_2_10 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 17;
grid-row-end: 18;
      

}
.skills_actor_text_2_11 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 18;
grid-row-end: 19;
      

}
.skills_actor_text_2_12 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 19;
grid-row-end: 20;
      

}
.skills_actor_text_2_13 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 20;
grid-row-end: 21;
      

}
.skills_actor_text_2_14 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 21;
grid-row-end: 22;
      

}
.skills_actor_text_2_15 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 22;
grid-row-end: 23;
      

}




.wrapper_index {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-areas: "a b c d";
  color: rgb(255, 255, 255);
  justify-content: center;

}
.box_index {
color: #fff;
text-indent: 25px;

}
.photo_index {
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 4;
text-align:center;
border: 1px solid #dfdfdf;
}
.text_index_1{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: left;
  border: 1px solid #dfdfdf;

}
.text_index_2{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  border: 1px solid #dfdfdf;
}
.text_index_3{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  border: 1px solid #dfdfdf;
}
.text_index_4{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  border: 1px solid #dfdfdf;
}
.text_index_5{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
  border: 1px solid #dfdfdf;
}
.text_index_6{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 8;
  border: 1px solid #dfdfdf;
}




.wrapper_employment {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-areas: "a b c d";
  color: rgb(255, 255, 255);
  justify-content: center;

}
.box_employment {
color: #fff;
padding-top: 0px;

}
.box_description {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-weight:bold;
  text-align:center;
  }
.box_employment_head {
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-weight:bold;
}
.box_photo_employment{
  text-align:center;
}
.date_employment_1
{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;

}
.photo_employment_1 {
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 3;
}
.text_employment_1{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.btn_employment_1{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.descr_employment_1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.text_employment_2{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  text-indent: 25px;
}
.photo_employment_2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  }
  .text_employment_3{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .text_employment_4{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
    text-indent: 25px;
  }
  .descr_employment_2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .date_employment_2
  {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 9;
  
  }
  .photo_employment_3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;
    }
  .text_employment_5{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 10;
    }
  .descr_employment_3{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 10;
      grid-row-end: 11;
  }
  .text_employment_6{
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 11;
      grid-row-end: 12;
      text-indent: 25px;
  }
  .date_employment_3
  {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 12;
    grid-row-end: 13;
  
  }
  .photo_employment_4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 13;
    grid-row-end: 14;
    }
    .text_employment_7{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 13;
      grid-row-end: 14;
  }
  .descr_employment_4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 14;
    grid-row-end: 15;
}
.text_employment_8{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 15;
  grid-row-end: 16;
  text-indent: 25px;
}
.photo_employment_5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 16;
  grid-row-end: 17;
  }
  .text_employment_9{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 16;
    grid-row-end: 17;
  }
  .descr_employment_5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 17;
    grid-row-end: 18;
}
.text_employment_10{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 18;
  grid-row-end: 19;
  text-indent: 25px;
}
.date_employment_4
{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 19;
  grid-row-end: 20;

}
.text_employment_11{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 20;
  grid-row-end: 21;
}
.descr_employment_6{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 21;
  grid-row-end: 22;
}
.text_employment_12{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 22;
  grid-row-end: 23;
  text-indent: 25px;
}


.wrapper_education {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-areas: "a b c d";
  color: rgb(255, 255, 255);
  justify-content: center;
  
}
.box_education_head {
  color: #fff;
  font-weight:bold;
  padding-left:10px;
}
.box_photo_education{
  text-align:center;
}
.box_degree_education{
  text-align:center;
  color: #fff;
}
.date_education_1
{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.text_education_1{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; 
}
.photo_education_1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4; 
}
.text_education_2{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4; 
}
.text_education_3{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5; 
}
.date_education_2
{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}
.date_education_2
{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}
.photo_education_2{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8; 
}
.text_education_4{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 8; 
}
.text_education_5{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9; 
}
.date_education_3
{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 11;
}
.photo_education_3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 11;
  grid-row-end: 12; 
}
.text_education_6{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 12; 
}
.text_education_7{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 12;
  grid-row-end: 13; 
}
.date_education_4
{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 13;
  grid-row-end: 14;
}
.photo_education_4{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 14;
  grid-row-end: 15; 
}
.text_education_8{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 14;
  grid-row-end: 15; 
}
.text_education_9{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 15;
  grid-row-end: 16; 
}
.date_education_5
{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 16;
  grid-row-end: 17;
}
.photo_education_5{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 17;
  grid-row-end: 18; 
}
.text_education_10{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 17;
  grid-row-end: 18; 
}
.text_education_11{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 18;
  grid-row-end: 19; 
}
.text_education_12{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 19;
  grid-row-end: 20; 
}
.text_education_13{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 20;
  grid-row-end: 21; 
}










.wrapper_software {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-areas: "a b c d";
  color: rgb(255, 255, 255);
  justify-content: center;
  
}
.box_software{
  text-align:center;
  color: #fff;
  padding-left: 10px;
}
.text_software_1
{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.text_software_2
{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.text_software_3
{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.text_software_4
{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.text_software_5
{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.text_software_6
{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.text_software_7
{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}





.image_logo
{
    position: relative;
    width: 200px;
    display: block;
    border-radius: 99%;
}

.image_actor_photo
{
   /* position: static;*/
    width: 300px;
    display: block;
  /*margin-left: auto;
  margin-right: auto;
  top:43.5%;
   left:18.5%;*/
  border-radius: 0%;

}
.image_index_photo
{
    width: 300px;
    display: block;

  border-radius: 0%;
  margin-left: auto;
  margin-right: auto;
}
.image_index_empl
{
    width: 150px;
  border-radius: 0%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image_index_edu
{
    width: 150px;
    display: block;
    border-radius: 0%;
    margin-left: auto;
    margin-right: auto;
}




.icon-bar {
    position: absolute;
    top: 25px;
     right: 25px;
  width: 90px;
  background-color: rgb(191, 192, 255);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: rgb(89, 92, 255);
}



  /*
    flex-wrap: nowrap;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.66666666666666666666666%;
  16.4369%;
  */

  .nav-container {
    background-color: #0856A3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* align-items: stretch; */
    color: white;

    width: 100%;
    margin: 0px;
    float: left;
    outline: none;
    cursor: pointer;
    text-align: center;
    /*line-height: 75px;*/
    padding: 0px;
    font-size: 17px;
    justify-content: center;;

  }
  .menu_btn {
    position: relative;
    font-size: 17px;
    color: white;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    float: left;
    text-decoration: none;
    min-width: 100%;
  
  }
.index_menu {
  background-color:#0856A3;

}
.index_menu:hover{
  background-color:SteelBlue;

}
.employment_menu {
  background-color:#0856A3;

}
.employment_menu:hover {
  background-color:Navy;

}
.education_menu {
  background-color:#0856A3;

}
.education_menu:hover {
  background-color:MediumBlue;

}
.software_menu {
  background-color:#0856A3;

}
.software_menu:hover {
  background-color:blue;

}

.hardware_menu{
  background-color:#0856A3;


}
.hardware_menu:hover {
  background-color:RoyalBlue;

}
.key_attributes_menu {
  background-color:#0856A3;
}
.key_attributes_menu:hover {
  background-color:DodgerBlue;

}







#top_btn_actor {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    font-size: 28px;
    border: none;
    outline: none;
    background-color:royalBlue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #top_btn_actor:hover {
    background-color:navy;
  }
  #top_btn_index {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    font-size: 28px;
    border: none;
    outline: none;
    background-color:Blue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #top_btn_index:hover {
    background-color:navy;
  }


  .actor_resume_btn_index {
    background-color:navy;

    border-radius:15%;
    font-size: 28px;
    color: white;
    padding: 20px;
    width: 200px;
    min-width: 100%;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    float: left;
    text-decoration: none;
  }
  .actor_resume_btn_index:hover {
    background-color:RoyalBlue;
  }
