.header {
    background-color: #6670ff;
    color: white;
    padding: 30px;
    text-align: center;
  }
  .header_contact {
    background-image: url("../pic/contact.png");
  color: white;
  padding: 30px;
  top: 100px;
  text-align: center;
}
.header_actor {
    background-image: url("../pic/actor_background.png");
  color: white;
  padding: 30px;
  top: 100px;
  text-align: center;
}




.body_contact {margin:0;
    font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
.body_actor {margin:0;
    font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;}
.body_index {margin:0;
    font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;}




input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(57, 22, 255);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #6670ff;
}





.text_contact
{
    position: absolute;
    top: 60px;
     right: 150px;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .content_actor {
    padding: 16px;
    background-color: #8e95ff;
   /* color: white; */
  }
  .content_index {
    padding: 16px;
    background-color: #6670ff;
  
  }
  .text_name
  {
      position: absolute;
      top: 26px;
       left: 250px;
       font-style: italic;
  }
  .text_actor_details
  {
      position: absolute;
      top:55%;
       right: 55%;
       display: block;
       color:white;
  }
  .text_actor_number
  {
      position: absolute;
      top:61%;
       right:48.2%;
       display: block;
       color:white;
  }
  .text_actor_email
  {
      position: absolute;
      top:66%;
       right:34.8%;
       display: block;
       color:white;
  }
  .text_actor_dob
  {
      position: absolute;
      top:71%;
       right:43.65%;
       display: block;
       color:white;
  }
  .text_color
  {
       color:white;
  
  }
  .text_table_index{
    max-width:70%;
     margin: auto;
     margin-bottom:0%;
   }
   .text_header_index{
     max-width:30%;
     margin-left:15%;
     margin-bottom:5%;
   }




  .table_attributes_actor {
    border-spacing: 0;
    display:grid;
    grid-template-rows: 300px 16px 16px;
    width: 100%;
    border: 1px #0856A3;
  }
  .table_skills_actor {
    border-spacing: 0;
    width: 100%;
    border: 1px #0856A3;
  }
  th, td {
    text-align: left;
    padding: 16px;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #8e95ff;
  }
  tr:nth-child(odd) {
    background-color: #7d84e6;
  }



  .wrapper_actor {
    display: grid;
    border: 1px solid #dfdfdf;
grid-gap: 1px;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas: "a b c d e";
    background-color: #6670ff;
    color: rgb(255, 255, 255);
}
.box_actor_1 {
  background-color: #8e95ff;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 75%;
}
.box_actor_2 {
  background-color: #7d84e6;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 75%;
}
.photo_actor {

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    border: 1px solid #dfdfdf;

}
.photo_actor_1 {

  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 6;
  border: 1px solid #dfdfdf;

}
.attributes_actor {

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  border: 1px solid #dfdfdf;
}
.attributes_actor_text_1 {
 
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  border: 1px solid #dfdfdf;
}
.attributes_actor_text_1_1 {
 
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  border: 1px solid #dfdfdf;
}
.attributes_actor_text_1_2 {
 
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
  border: 1px solid #dfdfdf;
}
.attributes_actor_text_1_3 {
 
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 5;
  border: 1px solid #dfdfdf;
}
.attributes_actor_text_2 {
 
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  border: 1px solid #dfdfdf;
}
.attributes_actor_text_2_1 {
 
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  border: 1px solid #dfdfdf;
}
.attributes_actor_text_2_2 {
 
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
  border: 1px solid #dfdfdf;
}
.attributes_actor_text_2_3 {
 
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
  border: 1px solid #dfdfdf;
}
.sizes_actor {

    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 1px solid #dfdfdf;
}
.sizes_actor_text_1 {

  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  border: 1px solid #dfdfdf;
}
.sizes_actor_text_1_1 {

  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  border: 1px solid #dfdfdf;
}
.sizes_actor_text_1_2 {

  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  border: 1px solid #dfdfdf;
}
.sizes_actor_text_1_3 {

  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
  border: 1px solid #dfdfdf;
}

.sizes_actor_text_2 {

  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  border: 1px solid #dfdfdf;
}
.sizes_actor_text_2_1 {

  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
  border: 1px solid #dfdfdf;
}.sizes_actor_text_2_2 {

  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 4;
  border: 1px solid #dfdfdf;
}.sizes_actor_text_2_3 {

  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 5;
  border: 1px solid #dfdfdf;
}
.skills_actor {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 6;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 7;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1_1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 8;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1_2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 9;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1_3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 10;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1_4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 11;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1_5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 12;
  grid-row-end: 12;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1_6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 13;
  grid-row-end: 13;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1_7 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 14;
  grid-row-end: 14;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1_8 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 15;
  grid-row-end: 15;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1_9 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 16;
  grid-row-end: 16;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1_10 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 17;
  grid-row-end: 17;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1_11 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 18;
  grid-row-end: 18;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1_12 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 19;
  grid-row-end: 19;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1_13 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 20;
  grid-row-end: 20;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1_14 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 21;
  grid-row-end: 21;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_1_15 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 22;
  grid-row-end: 22;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 7;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2_1 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 8;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2_2 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 9;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2_3 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 10;
  grid-row-end: 10;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2_4 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 11;
  grid-row-end: 11;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2_5 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 12;
  grid-row-end: 12;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2_6 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 13;
  grid-row-end: 13;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2_7 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 14;
  grid-row-end: 14;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2_8 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 15;
  grid-row-end: 15;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2_9 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 16;
  grid-row-end: 16;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2_10 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 17;
  grid-row-end: 17;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2_11 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 18;
  grid-row-end: 18;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2_12 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 19;
  grid-row-end: 19;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2_13 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 20;
  grid-row-end: 20;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2_14 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 21;
  grid-row-end: 21;
        border: 1px solid #dfdfdf;

}
.skills_actor_text_2_15 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 22;
  grid-row-end: 22;
        border: 1px solid #dfdfdf;

}




  .tablink {
    background-color: #0856A3;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 16.66666666666666666666666%;
  }
  .tablink:hover {
    background-color: #87CAE6;
  }
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: rgb(255, 255, 255);
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #employment {background-image: url("../pic/employment.png")}
  #education {background-image: url("../pic/education.png")}
  #software {background-image: url("../pic/software.png")}
  #hardware {background-image: url("../pic/hardware.jpg")}
  #key_attributes {background-image: url("../pic/skills.jpg")}
  #about {background-image: url("../pic/blue.jpg")}






.image_logo
{
    width: 200px;
    display: block;
  margin-left: 0%;
  margin-right: auto;
  border-radius: 99%;
}
.image_actor_photo
{
   /* position: static;*/
    width: 300px;
    display: block;
  /*margin-left: auto;
  margin-right: auto;
  top:43.5%;
   left:18.5%;*/
  border-radius: 0%;

}
.image_index_empl
{
    width: 6.5%;
    display: block;
  margin-left: 0%;
  margin-right: auto;
}
.image_index_edu
{
    width: 7%;
    display: block;
  margin-left: 0%;
  margin-right: auto;
}




.icon-bar {
    position: absolute;
    top: 25px;
     right: 25px;
  width: 90px;
  background-color: rgb(191, 192, 255);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: rgb(89, 92, 255);
}






#top_btn_actor {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    font-size: 28px;
    border: none;
    outline: none;
    background-color:royalBlue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #top_btn_actor:hover {
    background-color:navy;
  }
  #top_btn_index {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    font-size: 28px;
    border: none;
    outline: none;
    background-color:Blue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #top_btn_index:hover {
    background-color:navy;
  }
  .actor_resume_btn_index {
    position: absolute;
    top:74.3%;
    left:26%;
    background-color: #0856A3;
    border: none;
    border-radius:15%;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  .actor_resume_btn_index:hover {
    background-color:navy;
  }
  .actor_resume_btn_index:after {
    content: "";
    background: #87CAE6;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .actor_resume_btn_index:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }